:root {
    --font-family: 'Montserrat', sans-serif;

    /* Main */
    --accent: #ff5253;
    --dark: #363636;
    --white: #ffffff;
    --dark-30: rgba(54, 54, 54, 0.3);
    --black: #000000;

    /* Button */
    --button-pressed: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
    --button-hover: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);

    /* Other */
    --warning: #ffbc1f;
    --positive: #00ca71;
    --negative: #f42c4f;
    --positive-background: #ebf9f1;
    --negative-background: #feebea;

    /* Grey */
    --grey-70: #727272;
    --grey-40: #a7a7a7;
    --grey-20: #bfc4c9;
    --grey-10: #ebebeb;
    --grey-5: #f9f9fa;

    /* Shadow, Blure */

    --modal-blur: blur(10px);
    --header-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
    --blur: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
        0px 1px 5px rgba(191, 196, 201, 0.24);
    --pressed-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
    --bar-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
        0px 1px 5px rgba(191, 196, 201, 0.24);
    --button-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
}
